body {
    margin-left: 0%;
    margin-right: 0%;
}

main {
    display: inline-block;
    width: 20%;
}

.content {
    margin-left: 10%;
}

.posts {
    display: inline-block;
}

.categories {
    display: inline-block;
}

.categories-homepage {
    margin-left: 20%;
}

.categories-homepage-two {
    margin-left: 35%;
}

span .data-author {
    margin: 0%;
}


